# Byte-compiled files
__pycache__/
*.py[cod]
*$PYTHONHASHSEED

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Logs
logs/
*.log

# Testing
.coverage
htmlcov/
*.pytest_cache/
nose2-coverage.xml

# Jupyter notebooks
.ipynb_checkpoints/

# IDE-specific files
.vscode/
.idea/
*.iml

# Secrets and environment files
.env
.env.*
secrets.json

# MacOS files
.DS_Store
